# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html
/.github         export-ignore
/.editorconfig   export-ignore
/.gitattributes  export-ignore
/.gitignore      export-ignore
*.md            export-ignore
/spec           export-ignore